# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.build/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
ENV/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db